:root {
  --primary-color: #101420;
  /* --primary-color: #243441 */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--primary-color);
}

.container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.first {
  grid-column: 1 / 2;
}

.second {
  grid-column: 2 / -1;
}

.wrapper {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
}

#viz.hidden {
  display: none;
}

#viz.show {
  display: block;
}

#legends {
  font-family: sans-serif;
  font-size: 10px;
  color: white;
  margin: 2em;
  display: none;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 1em;
}

#legends.hidden {
  display: none;
}

#legends.show {
  display: block;
}

.legend { 
  list-style: none; 
  margin: 0; 
  padding: 0; 
}

.legend span { 
  border-radius: 50%; 
  float: left; 
  width: 8px; 
  height: 8px; 
  margin-right: 10px; 
}

.legend .y2018 { background-color: #979597; }
.legend .y2017 { background-color: #DF0EEC; }
.legend .y2016 { background-color: #0E33EC; }
.legend .y2015 { background-color: #0E98EC; }
.legend .y2014 { background-color: #0EECD4; }
.legend .y2013 { background-color: #47EC0E; }
.legend .y2012 { background-color: #DFA135; }
.legend .y2011 { background-color: #E5E537; }
.legend .y2010 { background-color: #E55637; }

.node .year2009 { fill:#ffffff; }
.node .year2010 { fill:#E55637; }
.node .year2011 { fill:#E5E537; }
.node .year2012 { fill:#DFA135; }
.node .year2013 { fill:#47EC0E; }
.node .year2014 { fill:#0EECD4; }
.node .year2015 { fill:#0E98EC; }
.node .year2016 { fill:#0E33EC; }
.node .year2017 { fill:#DF0EEC; }
.node .year2018 { fill:#979597; }

#tooltip {
  margin: 1em;
  width: 72%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  display: none;
  font-family: sans-serif;
}

#tooltip.hidden {
  display: none;
}

#tooltip.show {
  display: block;
}

#tooltip h1 {
  font-size: 15px;
  line-height: 20px;
  color: whitesmoke;
}

#tooltip h2 {
  font-size: 14px;
  line-height: 20px;
  color: lightblue;
}

.search-box {
  grid-row: 1/ -1;
  margin-top: 3em;
  margin-left: 1em;
}

input[type=text] {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 15px;
}

.button {
  font-family: sans-serif;
  font-size: 15px;
  /* font-weight: bold; */
  border: none;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* .button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
} */

#autocomplete_list {
  position: absolute;
  list-style: none;
  border: 1px #0000004d solid;
  padding: unset;
  width: 25.7%;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
}

#autocomplete_list li {
  cursor: pointer;
  padding: 10px;
  color: aliceblue;
}

#autocomplete_list li:hover {
  background-color: #A9A9A9;
  color: #000;
}

#autoComplete {
  padding: 2px;
  border: 1px #000000 solid;
  color: 000;
}

#autoComplete:focus {
  padding: 2px;
  outline: 1px #000000 solid;
  color: 000;
}

.node-clicked {
    stroke: #fff;
    fill: none;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-opacity: 0.75;
    stroke-dasharray: 0,5;
    pointer-events: none;

    animation-duration: 1s;
    animation-name: changedash;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}
